<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
</head>
<body>
    <div class="container">
        <h1>Упс! Что-то пошло не так! Пожалуйста, проверьте URL.</h1>
        <hr>
        <div style="width: 30%; margin: auto">
            <img th:src="@{/svg/404.svg}" height="300" width="375">
            <a href="/home">Домашняя страница</a>
        </div>
    </div>
</body>
</html>
